@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: linear-gradient(#162B32, black) no-repeat;

}

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;

}

h1 {
    animation: pulse-animation 4s infinite;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .875;
    margin: 10px 0;

}

@keyframes pulse-animation {


    50% {
        transform: scale(.95);
        /* dec the size */
    }



}