body {
    height: 100%;
    margin: 3%;

    background-attachment: fixed;
    background: linear-gradient(#162B32, black);
}

button {
    display: inline-block;
    background: linear-gradient(#162B32, black);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    font-family: monospace;
    padding: 20px;
    width: 200px;
    transition: all 1.9s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background: #22a800;
}


button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

div {
    height: 500px;
    width: 500px;

    margin: auto;
}

p {

    width: fit-content;
    margin: auto;
    font-family: monospace;
    color: white;
    font-size: large;
}